body   {
	background-color:rgb(141, 104, 87);
	padding:0;
	margin:0;
}

	
header{
		background:black;
	}
main 
{ width: 1050px;
 margin: 0 auto;    
}

img.logo {

	width:200px;
	height:100px;
}
nav
{height:50px;
background: #333;
}

li {float: left;
list-style: none;
}

ul { margin:0;
padding:0;
}


nav > ul > li > a{
 display: block;
 height:40px;
 background: black;
 padding: 0px 10px 0px 10px;
 color:white;
 text-decoration: none;
 line-height: 50px;
}

nav > ul > li > a:hover    {
	background:#993366;
}

p.sansserif {
    font-family:fantasy;
	
}
a.button{
	font-family : sans-serif;
	display : block;
	line-height : 40px;
	background-color : transparent;
	color : #FFF;
	text-decoration : none;
	text-transform : uppercase;
	font-weight : 300;
	font-size : 13px;
	padding : 4 204.80px;
	border : solid 1px #fff ;
	transition : .3s;
}

a.button:hover{
	color : #000;
	background-color :rgb(82, 82, 82);
	border : solid 1px #000 ;

}
a.homepagequizbutton{
	font-family : sans-serif;
	display : block;
	line-height : 40px;
	background-color : transparent;
	color : rgb(0, 0, 0);
	text-decoration : none;
	font-weight : 300;
	font-size : 20px;
	border : solid 1px rgb(0, 0, 0) ;
  transition : .3s;
  width: 100px;
}

a.homepagequizbutton:hover{
	color : rgb(255, 255, 255);
	border : solid 1px rgb(255, 255, 255) ;

}

a.koopbutton{
	font-family : sans-serif;
	display : inline-block;
	line-height : 40px;
	background-color : gray;
	color : #FFF;
	text-decoration : none;
	text-transform : uppercase;
	font-weight : 300;
	font-size : 13px;
	padding : 0 20px;
	border-radius : 50px;
	border : solid 1px #fff ;
	transition : .3s;
}
a.koopbutton:hover{
	color : #000;
	background-color : #fff;
	border : solid 1px #000 ;


}
input[type=text], input[type=submit] {
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-decoration : none;
  border : solid 1px #fff ;
}
input[type=submit]:hover {
  opacity: 0.8;
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  text-align: left;
  color: white;
  font-family : sans-serif;
}
article {
  outline: 5px solid black;
  background-color: rgb(162, 162, 162);
  padding: 15px;
  text-align: center;
  color: white;
  font-family : sans-serif;
} 
.review1{
  font-family : sans-serif;
  letter-spacing: .2em;
  font-size: 15pt;
  text-align: center;
  padding-top: 200px;
  }
  
  .review2{
    font-family : sans-serif;
  display: none;
  letter-spacing: .2em;
  font-size: 15pt;
  text-align: center;
  padding-top: 200px;
  
  }
  .Clickbtn{
    font-family : sans-serif;
    display : block;
    line-height : 40px;
    background-color : transparent;
    color: black;
    text-decoration : none;
    font-weight : 300;
    font-size : 20px;
    border : solid 5px black ;
    transition : .3s;
    width: 300px;

  }
  .Clickbtn:hover{
    color : white;
    background-color : black;
  
  }
  
  .review3{
  font-family : sans-serif;
  display: none;
  letter-spacing: .2em;
  font-size: 15pt;
  text-align: center;
  padding-top: 200px;
  
  }
  
  .review4{
  font-family : sans-serif;
  display: none;s
  letter-spacing: .2em;
  font-size: 15pt;
  text-align: center;
  padding-top: 200px;
  }

  .video{
    display : inline-block;
    font-family: sans-serif;
    text-align: center;
    font-size: 25pt;
    outline: 5px solid black;
    background-color: rgb(162, 162, 162);
    padding: 4 15px;
    width: 1200px;

  }
  
  .homepagequiz{
    display : inline-block;
    font-family: sans-serif;
    text-align: center;
    font-size: 25pt;
    outline: 5px solid rgb(0, 0, 0);
    width: 1200px;
    color: rgb(0, 0, 0);


  }

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: static;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*@keyframes goodAnswerAnimation {
    from {background-color: yellow;}
    to {background-color: green;}
}*/
@keyframes wrongAnswerAnimation {
  from {background-color: yellow;}
  to {background-color: red;}
}
@keyframes newQuestion {
from {margin-left: 000px;}
to{margin-left:0px;}
}

.wrapper{
overflow: hidden;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: 4px solid rgb(0, 0, 0);
background-color: rgba(87, 41, 22, 0.158);
padding: 10px;
}
.quizTitle {
color: black;
text-align: center;
font-family: sans-serif;
}
.myQuestion  {
color: rgb(0, 0, 0);
margin-right: 10px;
font-family: sans-serif;
}

.questionBox, .resultBox {
padding: 20px;
width: 80%;
margin-left:0px;
}
.questionBox-new{
padding: 20px;
width: 80%;
margin-left:0px;
animation-name: newQuestion;
animation-duration: 2s;
}

.myAnswer{
width: 80%;
text-align: center;
}
.answer{
	font-family : sans-serif;
	display : block;
	line-height : 40px;
	background-color : transparent;
	color : rgb(0, 0, 0);
	text-decoration : none;
	font-weight : 300;
	font-size : 12px;
	padding : 2 65.25px;
	border : solid 2px rgb(0, 0, 0) ;
  transition : .2s;
  text-align: center;
  
}
.answer:hover{
	color : #000;
	background-color : rgb(68, 68, 68);
	border : solid 1px #000 ;
}
.right {
padding:9 20px;
color:white;
border:2px solid #000000;
border-radius: 12px;
margin: 5px;
animation-name: goodAnswerAnimation;
animation-duration: 2s;
}
.wrong{
  padding: 2 10px;
  color:white;
  border:2px solid #000000;
  border-radius: 12px;
  margin: 5px;
  animation-name: goodAnswerAnimation;
  animation-duration: 2s;
}
